<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigbigrain.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigbigrain.entity.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="first_char" property="firstChar" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, first_char
    </sql>
	
	<select id="selectOptionList" resultType="java.util.Map">
		select id, name text from tb_brand
	</select>
</mapper>
