<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigbigrain.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bigbigrain.entity.Goods">
        <id column="id" property="id" />
        <result column="seller_id" property="sellerId" />
        <result column="goods_name" property="goodsName" />
        <result column="default_item_id" property="defaultItemId" />
        <result column="audit_status" property="auditStatus" />
        <result column="is_marketable" property="isMarketable" />
        <result column="brand_id" property="brandId" />
        <result column="caption" property="caption" />
        <result column="category1_id" property="category1Id" />
        <result column="category2_id" property="category2Id" />
        <result column="category3_id" property="category3Id" />
        <result column="small_pic" property="smallPic" />
        <result column="price" property="price" />
        <result column="type_template_id" property="typeTemplateId" />
        <result column="is_enable_spec" property="isEnableSpec" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, seller_id, goods_name, default_item_id, audit_status, is_marketable, brand_id, caption, category1_id, category2_id, category3_id, small_pic, price, type_template_id, is_enable_spec, is_delete
    </sql>

</mapper>
